[submodule "backend"]
	path = backend
	url = https://github.com/sowmyasree12/assignment-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/sowmyasree12/assignment-frontend.git
